body {
    background-color: #FFED00;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-size: 128px;
    font-weight: 120;
    font-variation-settings: "wdth" 120;
}

.youtubeButton {
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #000000;
    color: #000000;
    background-color: #FFED00;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.youtubeButton:hover {
    color: #FFED00;
    background-color: #000000;
}

.center {
    text-align: center;
}
